.dashboard-wrapper {
  margin-top: 80px;
  max-width: 1000px;
  margin: 80px auto 90px auto;
  text-align: left;
  .left-section {
    margin-bottom: 30px;
  }
  .address-section {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 20px;
    padding: 10px;
  }
}
.login-from-wrapper {
  margin-top: 30px;
  max-width: 700px !important;
  padding: 30px;
  background: #ececec;
  border-radius: 20px;
}
